<h1>{{title}}</h1>
<div>
    <button (click)="onButtonClick()" class="button">Meet Kevin >></button>
</div>
<br>
<div class="defaultVideo">
    <iframe width="70%" height="330" [src]='"https://www.youtube.com/embed/orWc4QLQ3Dw" | secure'></iframe>
</div>
<div>
    <p> Kevin Belton is an American Chef and TV host who is well-known for his “New Orleans Cooking with Kevin Belton”
        airing on WYES-TV.
        Also, he is popular in his locality as the instructor at the New Orleans School of Cooking for more than 30
        years and teaching over 7000 lessons in this period.
        At the moment, he is a feature reporter for the morning news show named ‘Eyewitness Morning News’ at WWL-TV
        based in New Orleans, Louisiana.
        Kevin Belton has served as an instructor at the foundation of Louisiana cooking for an astounding 30 years and
        counting. He has taught over 7000 lessons in this period.
    </p>
</div>