<div id="socialmedia">
    <div class="footer">
        <h3><a href="https://kevinbelton.com/">2019 Kevin Belton</a></h3>
        <ul>
            <li>
                <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/Twitter?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.google.com" class="google"><i class="fa fa-google"></i></a>
                <a href="https://in.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
                <a href="https://www.youtube.com" class="youtube"><i class="fa fa-youtube"></i></a>
                <a href="https://www.instagram.com" class="instagram"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</div>