<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div>
        <span><img src="assets/kevin1.jpg" alt="image"></span>

        <span>
            <h3>Home Grown New Orleans Chef</h3>
            <hr>
            The self-trained chef began cooking under the watchful eye of his mother and grandmother in the uptown New
            Orleans home where he grew up. From these talented home cooks Belton learned to prepare the venerable dishes
            of the city and in his new series he’ll share family recipes and personal tips for making seafood gumbo,
            pralines, shrimp remoulade, chicken Clemenceau and many other New Orleans specialties.
            <h3>Teacher and Featured Louisiana Chef</h3>
            <hr>
            Cooking instruction is second nature for Belton, who has spent almost 30 years teaching the foundation of
            Louisiana cooking to appreciative audiences. In addition to the almost 7,000 lessons he has led, Belton has
            also offered classes and cooking demonstrations throughout the U.S. and Canada. He has been a featured chef
            and guest on numerous food programs including Emeril Live; Ready Set Cook; Life, Love, and Lunch; Food
            Fighters; and Taste of America.

            In 1999, he was co-host and chef on the BBC series Big Kevin, Little Kevin, which also featured British
            celebrity chef Kevin Woodford. The series, taped in the United Kingdom and the U.S., aired in Europe,
            Australia, New Zealand and Asia. A companion cookbook co-authored by Belton, “Big Kevin, Little Kevin-Over
            120 Recipes from around Britain and America by TV’s Odd Couple,” was published by Ebury Press.
        </span>
        <span><img src="assets/kevin2.jpg" alt="image"></span>
        <span>
            <h3>Author and TV Personality</h3>
            <hr>
            In 2014, he became the resident chef for the CBS affiliate WWL’s morning show. He is also doing a series of
            segments for WWL titled “Naturally N’awlins”.Belton has long been associated with WYES-TV as the host of
            several popular cooking marathons. He is also a past recipient of the WYES President’s Award, which is given
            annually to individuals, organizations or businesses that have demonstrated exemplary support of public
            television in the metropolitan area.
            <br><br>
            In 2014, he was recognized as one of the top twenty Louisiana chefs by the American Culinary Federation.In
            his public television debut Belton wants to pull back the curtain and show viewers what really makes the
            legendary cuisine of New Orleans so delicious. “Everybody says you make it look so easy,” he says. “I tell
            them, no, it is easy.” Taped in the studios of WYES-TV, NEW ORLEANS COOKING WITH KEVIN BELTON is a chance
            for viewers to meet a new APT host whose big personality is a perfect match for his 6’ 9” frame.
        </span>


    </div>

</body>

</html>