<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div>
        <span><img src="assets/1.jpg" alt="image"></span>
        <span><img src="assets/2.jpg" alt="image"></span>
        <span><img src="assets/3.jpg" alt="image"></span>
        <span><img src="assets/4.jpg" alt="image"></span>
        <span><img src="assets/5.jpg" alt="image"></span>
        <span><img src="assets/6.jpg" alt="image"></span>
        <span><img src="assets/7.jpg" alt="image"></span>
        <span><img src="assets/8.jpg" alt="image"></span>
        <span><img src="assets/9.jpg" alt="image"></span>
        <span><img src="assets/10.jpg" alt="image"></span>
        <span><img src="assets/14.jpg" alt="image"></span>
        <span><img src="assets/12.jpg" alt="image"></span>

    </div>
</body>

</html>