<div class="block">
    <h2>Address : PO Box 7178 Metairie, LA 70010 | info@kevinbelton.com</h2>
    <form>

        <label for="fname">First Name</label>
        <input type="text" required id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" required id="lname" name="lastname" placeholder="Your last name..">

        <label for="email">Email</label>
        <input type="text" required id="email" name="email" placeholder="Your Email..">

        <label for="Contact">Contact</label>
        <input type="text" required id="contact" name="Contact" placeholder="Your Contact..">

        <label for="subject">Message</label>
        <textarea id="subject" required name="subject" placeholder="Write something.." style="height:90px"></textarea>

        <input type="submit" (click)="onSubmitClick()" value="Submit">

    </form>
</div>